<h1><%= @post.title%></h1>
<p><%= @post.body%></p>

<p><%= link_to "Edit this post", edit_post_path(@post) %></p>
<p><%= link_to "Delete this post", post_path(@post), data: {
    turbo_method: "DELETE",
    turbo_confirm: "Are you sure?"
  } %></p>

 
<h2>Comments:</h2>
<%= render @post.comments %>



<h2>Add a new Comment!</h2>
<%= render 'comments/form' %>
